* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: "Helvetica", "Arial", "sans-serif";
    display: flex;
    background-color: #191818;
    height: 100vh;
    justify-content: center;
    
    
}

.container {
    display: flex;

}

.container .signup-img {
   width: 37%;
   display: flex;

}

.container .signup-img img {
    width: 100%;
    object-fit: cover;
}

.form-container {
    background-color: #fff;
    padding: 25px;
    flex: 3;
    background: #ffffff;
    
}

.form-container .description {
    max-width: 420px;
    font-weight: bold;
    font-size: .9rem;
}

.form-container .description p{
    margin-top: 4rem;
    line-height: 1.5;
    
}

.form-container .description span {
    line-height: 3;
  
}

.form-container form {
    margin-top: 1rem;
}


